# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.local
.env.production
.env.*.local

# tests
playwright-report
test-results
coverage

# typescript
*.tsbuildinfo

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vercel
